infrastructure/step-functions/distillation-pipeline.json
{
  "Comment": "SRL→RLVR Nightly Distillation Pipeline",
  "StartAt": "CollectBronzeTraces",
  "States": {
    "CollectBronzeTraces": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "srl-distillation-trace-collector",
        "Payload": {
          "tier": "bronze",
          "collection_window": "24h"
        }
      },
      "Next": "ValidateTraces",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 60,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleTraceCollectionFailure",
          "ResultPath": "$.error"
        }
      ]
    },
    "ValidateTraces": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "srl-distillation-trace-validator",
        "Payload": {
          "trace_s3_uri": "$.Payload.trace_s3_uri",
          "min_trace_count": 100
        }
      },
      "Next": "DistillBronzeToSilver",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 30,
          "MaxAttempts": 2,
          "BackoffRate": 1.5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleValidationFailure",
          "ResultPath": "$.error"
        }
      ]
    },
    "DistillBronzeToSilver": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sagemaker:createTrainingJob.sync",
      "Parameters": {
        "TrainingJobName": "srl-distill-bronze-to-silver-$[timestamp('yyyy-MM-dd-HH-mm-ss')]",
        "RoleArn": "${SageMakerRoleArn}",
        "AlgorithmSpecification": {
          "TrainingImage": "${DistillationImageUri}"
        },
        "InputDataConfig": [
          {
            "ChannelName": "bronze-traces",
            "DataSource": {
              "S3DataSource": {
                "S3DataType": "S3Prefix",
                "S3Uri": "$.Payload.trace_s3_uri",
                "S3DataDistributionType": "FullyReplicated"
              }
            }
          }
        ],
        "OutputDataConfig": {
          "S3OutputPath": "s3://${DistillationOutputBucket}/silver-adapters/"
        },
        "ResourceConfig": {
          "InstanceType": "ml.g5.xlarge",
          "InstanceCount": 1,
          "VolumeSizeInGB": 100
        },
        "StoppingCondition": {
          "MaxRuntimeInSeconds": 10800
        },
        "HyperParameters": {
          "source_tier": "bronze",
          "target_tier": "silver",
          "num_epochs": "3",
          "learning_rate": "0.0001",
          "temperature": "4.0"
        },
        "CheckpointConfig": {
          "S3Uri": "s3://${CheckpointBucket}/distillation-checkpoints/",
          "LocalPath": "/opt/ml/checkpoints"
        }
      },
      "Next": "ValidateSilverAdapter",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 300,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleDistillationFailure",
          "ResultPath": "$.error"
        }
      ]
    },
    "ValidateSilverAdapter": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "srl-distillation-quality-validator",
        "Payload": {
          "adapter_s3_uri": "$.TrainingJobStatus.OutputDataConfig.S3OutputPath",
          "tier": "silver",
          "test_traces_s3_uri": "$.Payload.trace_s3_uri"
        }
      },
      "Next": "DistillSilverToGold",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 30,
          "MaxAttempts": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleValidationFailure",
          "ResultPath": "$.error"
        }
      ]
    },
    "DistillSilverToGold": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sagemaker:createTrainingJob.sync",
      "Parameters": {
        "TrainingJobName": "srl-distill-silver-to-gold-$[timestamp('yyyy-MM-dd-HH-mm-ss')]",
        "RoleArn": "${SageMakerRoleArn}",
        "AlgorithmSpecification": {
          "TrainingImage": "${DistillationImageUri}"
        },
        "InputDataConfig": [
          {
            "ChannelName": "silver-adapter",
            "DataSource": {
              "S3DataSource": {
                "S3DataType": "S3Prefix",
                "S3Uri": "$.Payload.adapter_s3_uri",
                "S3DataDistributionType": "FullyReplicated"
              }
            }
          }
        ],
        "OutputDataConfig": {
          "S3OutputPath": "s3://${DistillationOutputBucket}/gold-adapters/"
        },
        "ResourceConfig": {
          "InstanceType": "ml.g5.xlarge",
          "InstanceCount": 1,
          "VolumeSizeInGB": 100
        },
        "StoppingCondition": {
          "MaxRuntimeInSeconds": 7200
        },
        "HyperParameters": {
          "source_tier": "silver",
          "target_tier": "gold",
          "num_epochs": "3",
          "learning_rate": "0.0001",
          "temperature": "4.0"
        },
        "CheckpointConfig": {
          "S3Uri": "s3://${CheckpointBucket}/distillation-checkpoints/",
          "LocalPath": "/opt/ml/checkpoints"
        }
      },
      "Next": "ValidateGoldAdapter",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 300,
          "MaxAttempts": 2,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleDistillationFailure",
          "ResultPath": "$.error"
        }
      ]
    },
    "ValidateGoldAdapter": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "srl-distillation-quality-validator",
        "Payload": {
          "adapter_s3_uri": "$.TrainingJobStatus.OutputDataConfig.S3OutputPath",
          "tier": "gold",
          "test_traces_s3_uri": "$.Payload.trace_s3_uri"
        }
      },
      "Next": "RegisterAdapters",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 30,
          "MaxAttempts": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "HandleValidationFailure",
          "ResultPath": "$.error"
        }
      ]
    },
    "RegisterAdapters": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "srl-model-registry-register",
        "Payload": {
          "silver_adapter": "$.Payload.silver_adapter_s3_uri",
          "gold_adapter": "$.Payload.gold_adapter_s3_uri",
          "validation_results": "$.Payload.validation_results"
        }
      },
      "Next": "DistillationComplete",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 30,
          "MaxAttempts": 3
        }
      ]
    },
    "DistillationComplete": {
      "Type": "Succeed",
      "Output": {
        "status": "complete",
        "silver_adapter": "$.Payload.silver_adapter_s3_uri",
        "gold_adapter": "$.Payload.gold_adapter_s3_uri",
        "timestamp": "$[timestamp('yyyy-MM-ddTHH:mm:ssZ')]"
      }
    },
    "HandleTraceCollectionFailure": {
      "Type": "Fail",
      "Error": "TraceCollectionFailed",
      "Cause": "Failed to collect Bronze tier traces"
    },
    "HandleValidationFailure": {
      "Type": "Fail",
      "Error": "ValidationFailed",
      "Cause": "Quality validation failed"
    },
    "HandleDistillationFailure": {
      "Type": "Fail",
      "Error": "DistillationFailed",
      "Cause": "Knowledge distillation failed"
    }
  }
}


